.button {
  display: inline-flex;
  gap: 8px;
  padding: 0.8rem 1.5rem;
  align-items: center;
  border: none;
  border-radius: 4px;
  min-width: max-content;
}

.primary {
  background-color: blue;
  color: white;
}

.secondary {
  background-color: white;
  color: black;
  border: solid;
}

.tertiary {
  background-color: white;
  color: rgb(0, 0, 0);
}

.primary:hover {
  background-color: #0064bc;
}

.secondary:hover,
.tertiary:hover {
  background-color: #f0f0f0;
}
