@use "../../variables.scss" as *;

.button {
  display: inline-flex;
  gap: $gap-small;
  padding: 0.8rem 1.5rem;
  align-items: center;
  border: none;
  font-size: $font-size-normal;
}

.primary {
  background-color: $primary-color;
  color: $light-color;
}

.secondary {
  background-color: transparent;
  color: $dark-color;
  transition: color 0.3s ease;
}

.tertiary {
  background-color: $light-color;
  color: rgb(0, 0, 0);
  border: solid;
}

.primary:hover {
  background-color: $primary-color-hover;
}

.secondary:hover {
  color: $primary-color-hover;
}

.tertiary:hover {
  background-color: $gray-color-hover;
}
