.button {
  display: inline-flex;
  gap: 8px;
  padding: 0.8rem 1.5rem;
  align-items: center;
  border: none;
  font-size: medium;
}

.primary {
  background-color: #2fa3dd;
  color: white;
}

.secondary {
  background-color: transparent;
  color: black;
  transition: color 0.3s ease;
}

.tertiary {
  background-color: white;
  color: rgb(0, 0, 0);
  border: solid;
}

.primary:hover {
  background-color: #0064bc;
}

.secondary:hover {
  color: #024b8b;
}

.tertiary:hover {
  background-color: #f0f0f0;
}
