@use "../../variables.scss" as *;

.highlight-item {
  display: flex;
  flex: 1 1 0;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  padding: 0 10px;
  border-right: $border-normal;
  box-sizing: border-box;
}

.highlight-item:last-child {
  border-right: none;
}

.highlight-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $gap-normal;
  width: 100%;
  max-width: 200px;
}

.highlight-item img {
  width: 40px;
  height: 40px;
}

.highlight-text {
  font-size: $font-size-normal;
  font-weight: bold;
  color: $gray-color;
  word-wrap: break-word;
  max-width: 100%;
  text-align: center;
}
