@use "../../variables.scss" as *;

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 300px;
  background-color: #fff;
  margin: 0 auto;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.126);
}

.card-image {
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-content {
  display: flex;
  flex-direction: column;
  padding: $padding-normal;
  gap: 16px;
}

.card-content h5 {
  font-size: $font-size-large;
  margin: 0;
  font-weight: bold;
  color: #333;
}

.card-content span {
  font-size: $font-size-small;
  color: #545454;
}
