.header {
  position: fixed;
  width: 100%;
  padding: 10px 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  z-index: 1000;
  box-shadow: none;
}

.header img {
  height: 50px;
}
