@use "./variables" as *;

#toiture {
  width: 100%;
  height: auto;
  max-height: 900px;
  display: block;
  clip-path: ellipse(95% 90% at 50% 0%);
}

.highlighted {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  background-color: white;
  padding: 5% 0;
  margin: 5% auto;
  box-shadow: 2px 2px 10px rgba(199, 199, 199, 0.3);
}

#expertise {
  display: grid;
  gap: 15px;
  justify-content: center;
  grid-template-columns: repeat(4, 1fr);
  max-width: 1200px;
  margin: 0 auto;
}

.container-product {
  margin: auto;
  width: 70%;
}

.steps-container {
  display: flex;
  justify-content: center;
  padding: 8% 0;
  margin: 0 auto;
}

.steps-list {
  display: flex;
  justify-content: space-evenly;
}

.cta-container {
  display: flex;
  flex-direction: column;
  min-width: 160px;
  bottom: 0;
  gap: $gap-normal;
  margin-top: auto;
  padding: $padding-normal;
}

.map-container {
  display: flex;
  justify-content: center;
}

.map-container iframe {
  border: none;
  width: 100%;
  height: 40vh;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

@media (max-width: 1024px) {
  #expertise {
    grid-template-columns: repeat(2, 1fr);
  }
  .steps-list {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .highlighted {
    flex-direction: column;
    gap: 32px;
    margin: 10% auto;
  }
  #expertise {
    grid-template-columns: 1fr;
    margin: $margin-normal;
  }

  .steps-container {
    padding: 32px 0;
  }

  .cta-container {
    padding-top: $padding-normal;
  }

  .container-product {
    width: 100%;
  }
}
